* {
  margin: 0;
  padding: 0;

  font-family: 'Arial-BoldMT','Arial',sans-serif;
  color: #584D4D;
}

body {
  background: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

a {
}

a:link {
  color: #584D4D;
  text-decoration: underline;
}
a:visited {
  color: #797979;
}

a:hover {
  color: #f90;
}

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 600px;
}

#main h1 {
  color: #A7A7A7;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

#main h2 {
  margin-top: 2ex;
  color: #A7A7A7;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

#main h2 a {
  text-decoration: none;
}

#main p {
  margin: 20px 0;
}

.centered {
  text-align: center;
}
#main p.date {
  font-size: 90%;
  font-weight: bold;
}

.box {
  border-width:medium;
  border-color:#AAA;
  border-style:solid;
  padding:1ex;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#main dl dt {
  font-weight: bold;
}
#main dl dt:after {
  content:":";
}
#main dl dd {
   margin-left: 3ex;
}

#sidebar {
	font-size: 13px;
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar dt {
	font-weight: bold;
}
#sidebar dl dl {
  margin-left: 1em;
}
